App_WebReferences/SmsWebService/SmsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="tns:WsSendResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsSendResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RemainPoint" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SuccessCounts" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryOverage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryOverageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryOverageResult" type="tns:WsOverageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsOverageResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayInfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Overage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendTotal" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statusNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryStatusResult" type="tns:WsStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsStatusResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusList" type="tns:ArrayOfWsStatusBox" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWsStatusBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WsStatusBox" nillable="true" type="tns:WsStatusBox" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WsStatusBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="callNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCallResult" type="tns:WsCallResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsCallResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallList" type="tns:ArrayOfWsCallBox" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWsCallBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WsCallBox" nillable="true" type="tns:WsCallBox" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WsCallBox">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extno" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryOverageSoapIn">
    <wsdl:part name="parameters" element="tns:QueryOverage" />
  </wsdl:message>
  <wsdl:message name="QueryOverageSoapOut">
    <wsdl:part name="parameters" element="tns:QueryOverageResponse" />
  </wsdl:message>
  <wsdl:message name="QueryStatusSoapIn">
    <wsdl:part name="parameters" element="tns:QueryStatus" />
  </wsdl:message>
  <wsdl:message name="QueryStatusSoapOut">
    <wsdl:part name="parameters" element="tns:QueryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCallSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCall" />
  </wsdl:message>
  <wsdl:message name="QueryCallSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCallResponse" />
  </wsdl:message>
  <wsdl:portType name="SmSWebServiceSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryOverage">
      <wsdl:input message="tns:QueryOverageSoapIn" />
      <wsdl:output message="tns:QueryOverageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryStatus">
      <wsdl:input message="tns:QueryStatusSoapIn" />
      <wsdl:output message="tns:QueryStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCall">
      <wsdl:input message="tns:QueryCallSoapIn" />
      <wsdl:output message="tns:QueryCallSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmSWebServiceSoap" type="tns:SmSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOverage">
      <soap:operation soapAction="http://tempuri.org/QueryOverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStatus">
      <soap:operation soapAction="http://tempuri.org/QueryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCall">
      <soap:operation soapAction="http://tempuri.org/QueryCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmSWebServiceSoap12" type="tns:SmSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOverage">
      <soap12:operation soapAction="http://tempuri.org/QueryOverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStatus">
      <soap12:operation soapAction="http://tempuri.org/QueryStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCall">
      <soap12:operation soapAction="http://tempuri.org/QueryCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmSWebService">
    <wsdl:port name="SmSWebServiceSoap" binding="tns:SmSWebServiceSoap">
      <soap:address location="http://114.215.136.60:8888/SmsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SmSWebServiceSoap12" binding="tns:SmSWebServiceSoap12">
      <soap12:address location="http://114.215.136.60:8888/SmsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>